<button mat-icon-button (click)="drawer.toggle()">
  <mat-icon>menu</mat-icon>
</button>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" style="width: 350px;">
    <mat-nav-list>
      <div class="profile-card" style="margin-left:40px;">

        <img src="../../../assets/image/adminrole.png" style="width:190px;height:200px;">
        <h4><span style="margin-left: 44px">{{currentUser.username}}</span></h4>

        <h4><span style="margin-left: 44px">{{currentUser.email}}</span></h4>

      </div>

      <mat-divider></mat-divider>

      <h2 matSubheader>Pages</h2>

      <a mat-list-item routerLink="/admin/noteadmin">Affichage de note </a>
      <a mat-list-item routerLink="/admin/plan1">Gestion des plans </a>
      <a mat-list-item routerLink="/admin/recherche">Rechercher</a>






      <mat-divider></mat-divider>





    </mat-nav-list>
  </mat-drawer>
  <router-outlet></router-outlet>
  <div class="example-sidenav-content" routerLinkActive="active"  style="margin-top: -1000px">

  </div>

</mat-drawer-container>


<!-- <button mat-icon-button (click)="drawer.toggle()">
  <mat-icon>menu</mat-icon>
</button>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-nav-list>
      <div class="profile-card">
        <div class="header">
          <h2>Nada ElAdel</h2>
          <h4>nada.eladel@esprit.tn</h4>
        </div>
        <img src="../../../assets/image/adminrole.png" style="width:190px;margin-left:50px;height:200px;">
      </div>

      <mat-divider></mat-divider>

      <h2 matSubheader>Pages</h2>

      <a mat-list-item href="/dims" routerLink="/dims">Toutes les dimensionnements</a>
      <a mat-list-item href="/profils" routerLink="/profils">Toutes les profils </a>
            <a mat-list-item href="/afficheup" routerLink="/afficheup">affichage de l'image </a>
            <a mat-list-item href="/noteadmin" routerLink="/noteadmin">affichage de la note </a>


      <mat-divider></mat-divider>

      <h2 matSubheader>Tools</h2>


    </mat-nav-list>
  </mat-drawer> -->