<app-board-user></app-board-user>

  
    <div>

        <div class="card" style="margin-left: -155px; width: 1716px;margin-top: -1857px">


            <p-table #dt [value]="t1" [rows]="10" [paginator]="true"
                [globalFilterFields]="['id','canals','namont','naval','debitunitaire','surface','largeurdecanal','coefmanning','pente','talus','y0','revanche','b','yn','vitesse','q','section']"
                [rowHover]="true" dataKey="id"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-ai-center p-jc-between ">
                        <span class="p-input-icon-left ">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Rechercher..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>


                        <th pSortableColumn="id">id
                            <p-sortIcon field="id"></p-sortIcon>
                        </th>
                        <th pSortableColumn="canals">canals
                            <p-sortIcon field="canals"></p-sortIcon>
                        </th>
                        <th pSortableColumn="namont">namont
                            <p-sortIcon field="namont"></p-sortIcon>
                        </th>
                        <th pSortableColumn="naval">naval
                            <p-sortIcon field="naval"></p-sortIcon>
                        </th>
                        <th pSortableColumn="debitunitaire">debitunitaire
                            <p-sortIcon field="debitunitaire"></p-sortIcon>
                        </th>
                        <th pSortableColumn="surface">surface
                            <p-sortIcon field="surface"></p-sortIcon>
                        </th>
                        <th pSortableColumn="largeurdecanal">largeurdecanal
                            <p-sortIcon field="largeurdecanal"></p-sortIcon>
                        </th>
                        <th pSortableColumn="coefmanning">coefmanning
                            <p-sortIcon field="coefmanning"></p-sortIcon>
                        </th>

                     
                        <th>
                            <i class="pi pi-angle-double-down" style="font-size: 2rem"></i>
                        
                        </th>
                   
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-s>
                    <tr>
                        <td>{{s.id}}</td>
                        <td>{{s.canals}}</td>
                        <td>{{s.namont}}</td>
                        <td>{{s.naval}}</td>
                        <td>{{s.debitunitaire}}</td>
                        <td>{{s.surface}}</td>
                        <td>{{s.largeurdecanal}}</td>
                        <td>{{s.coefmanning}}</td>

<td>




    <button pButton pRipple (click)="showDialog(dim)"
        style="color: rgb(95, 95, 95) ; background-color: rgba(209, 209, 209, 0.89); border:beige;" label="Voir plus"
        icon="pi pi-plus"></button>
    <p-dialog header="Détail" [style]="{width: '600px'}" [(visible)]="display">
        <p-accordion>
            <p-accordionTab header="pente">
                        <td>{{s.pente}}</td>
</p-accordionTab>
<p-accordionTab header="talus">
                        <td>{{s.talus}}</td>
</p-accordionTab>
<p-accordionTab header="y0">
                        <td>{{s.y0}}</td>
</p-accordionTab>
<p-accordionTab header="revanche">
                        <td>{{s.revanche}}</td>
</p-accordionTab>

<p-accordionTab header="base de canal">
                        <td>{{s.b}}</td>
</p-accordionTab>

<p-accordionTab header="yn">
                        <td>{{s.yn}}</td>
</p-accordionTab>

<p-accordionTab header="section">
                    <td>{{s.section}}</td>
</p-accordionTab>

<p-accordionTab header="debit">
                        <td>{{s.q}}</td>
</p-accordionTab>
<p-accordionTab header="vitesse">
                        <td>{{s.vitesse}}</td>
</p-accordionTab>











</p-accordion>

</p-dialog>
</td>

                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        Au total, il y a {{t1 ? t1.length : 0 }} dimensionnement(s).
                    </div>
                </ng-template>
            </p-table>