<div id="app">
  <nav class="navbar navbar-expand-sm navbar-light "  style="background-color:rgb(216, 216, 216) ;">
    <span class="nav-title">
      <img src="../assets/image/logo.png" width="140px" height="48px" routerLink="home"/>
      
      </span>
    <a href="#" class="navbar-brand"></a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin/stat" class="nav-link" routerLink="/admin/stat">Board Admin</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/mod" class="nav-link" routerLink="mod">Board Moderateur</a>
      </li>
      <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="showModeratoruser" routerLink="user">Utulisateur</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <!--<li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>-->
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login"> <span class="material-icons">
          login
        </span> Connexion</a>
      </li>
     
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">

      <span class="material-icons">
  perm_identity
      </span>     
        
<li class="nav-item">
        <a  href="/profile" class="nav-link" routerLink="profile" style="margin-top: -8px; margin-right: 40px;"> {{ username }}
        
        </a>
      </li>
    <span class="material-icons">
      logout
    </span>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()" style="margin-top: -8px; margin-right: 40px;" >Deconnexion</a>
      </li>
    </ul>
  </nav>
  
  <div class="container">
    
 </div>
</div>


<router-outlet></router-outlet>

