<!-- 

  <div class="layout-dashboard">
    <div class="container" *ngIf="currentUser; else loggedOut">
      <header class="jumbotron">
        <h3>
          <strong>{{ currentUser.username }}</strong> Profile
        </h3>
      </header>
      <p>
        <strong>Token:</strong>
        {{ currentUser.accessToken.substring(0, 20) }} ...
        {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
      </p>
      <p>
        <strong>Email:</strong>
        {{ currentUser.email }}
      </p>
      <strong>Roles:</strong>
      <ul>
        <li *ngFor="let role of currentUser.roles">
          {{ role }}
        </li>
      </ul>
    </div>
    
    <ng-template #loggedOut>
      Please login.
    </ng-template>
    
    <div class="card bg-light mb-3" style="max-width: 100rem; max-height:100rem ;">
      <div class="card-header">
      
        <img class="card-img-top" src="assets/image/image2.jpg" alt="Card image cap" style="height: 10rem;">
        
      </div>
      <div class="card-body">
        <h5 class="card-title">Light card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div style="margin: auto" class="user-detail">
          <ul>
              <li>
                  Email: <span style="float: right;" class="value">ss
                  </span>
              </li>

              <li>
                  Téléphone: <span style="float: right;" class="value">ss
                  </span>
              </li>
              <li>
                  Date de naissance: <span  style="float: right;" class="value">
                     ss
                  </span>
              </li>
              <li>
                  Nationalité: <span style="float: right;" class="value">ss
                  </span>
              </li>

              <li>
                  Adresse: <span  class="value" style="float: right;">
                 tet</span>
              </li>
              <li>
                  Code postal: <span  class="value" style="float: right;">
                  test </span>
              </li>
              <li>
                  Pays: <span class="value" style="float: right;">ss</span>
              </li>
              <li>
                  Région: <span class="value" style="float: right;">ss
                  </span>
              </li>
              <li>
                  Ville: <span class="value" style="float: right;">ss</span>
              </li>

          </ul>
      </div>
      </div>
    </div>

   -->


   <div class="container light-style flex-grow-1 container-p-y">

    

    <div class="card overflow-hidden">
      <div class="row no-gutters row-bordered row-border-light">
        <div class="col-md-3 pt-0">
          <div class="list-group list-group-flush account-settings-links">
            <a class="list-group-item list-group-item-action " data-toggle="list" (click)="modifierInfo()" >Mes information</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" (click)="modifierpassword(currentUser.id)" >Modifier Mot de passe</a>
            
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content">
            <div  *ngIf="showgeneral">

              <!-- <div class="card-body media align-items-center">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="d-block ui-w-80">
                <div class="media-body ml-4">
                  <label class="btn btn-outline-primary">
                    Upload new photo
                    <input type="file" class="account-settings-fileinput">
                  </label> &nbsp;
                  <button type="button" class="btn btn-default md-btn-flat">Reset</button>

                  <div class="text-light small mt-1">Allowed JPG, GIF or PNG. Max size of 800K</div>
                </div>
              </div> -->
              <hr class="border-light m-0">

              <div class="card-body">
                <div class="tab-pane " id="account-general">
                  <div *ngIf="user1">
                  <form *ngIf="!isSuccessful" name="form" #f="ngForm" novalidate
                  (ngSubmit)="f.form.valid && onupdateprod(f.value)">
                <div class="form-group">
                  <label class="form-label">Username:</label>
                  <!-- <output type="number" class="form-control" id="hour" name="pass" >{{ currentUser.username }}</output> -->
                
                  <input [(ngModel)]="user1.username" class="form-control" type="text"  class="form-control"
                  [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                  <label class="form-label">Email:</label>
                  <!-- <output type="number" class="form-control" id="hour" name="pass" >{{ currentUser.email}}</output> -->
                  <input [(ngModel)]="user1.email" class="form-control" type="text"  class="form-control"
                  [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                  <label class="form-label">Role:</label>
                  
                  <output type="number" class="form-control" id="hour" name="pass" >{{ currentUser.roles[0]}}</output>
                  <!-- <div class="alert alert-warning mt-3">
                    Your email is not confirmed. Please check your inbox.<br>
                    <a href="javascript:void(0)">Resend confirmation</a>
                  </div> -->
                </div>
                <div class="form-group">
                  <label class="form-label">Entreprise</label>
                  <output type="number" class="form-control" id="hour" name="pass" >SAFI</output>
                </div>
                <div class="text-right mt-3">
                  <button  type="submit" class="btn btn-primary">Modifier</button>&nbsp;
                  <button type="button" class="btn btn-default">Cancel</button>
                </div>
              </form>
            </div>
              </div>
            </div>
            </div>
            <div  *ngIf="showpassword">
              <div > 
                <form *ngIf="!isSuccessful" name="form" #f="ngForm" novalidate
                (ngSubmit)="f.form.valid && onupdatepassword(f.value)">
              <div class="form-group">
                <label class="form-label">Mot de passe :</label>
                <!-- <output type="number" class="form-control" id="hour" name="pass" >{{ currentUser.username }}</output> -->
              
                <input [(ngModel)]="password1" class="form-control" type="password"  class="form-control"
                [ngModelOptions]="{standalone: true}" required>
              </div>
              <div class="form-group">
                <label class="form-label">Nouveau mot de passe:</label>
                <!-- <output type="number" class="form-control" id="hour" name="pass" >{{ currentUser.email}}</output> -->
                <input [(ngModel)]="password2" class="form-control" type="password"  class="form-control"
                [ngModelOptions]="{standalone: true}" required>
              </div>
              <div class="form-group">
                <label class="form-label"> Repeter mot de passe:</label>
                <!-- <output type="number" class="form-control" id="hour" name="pass" >{{ currentUser.email}}</output> -->
                <input [(ngModel)]="password3" class="form-control" type="password"  class="form-control"
                [ngModelOptions]="{standalone: true}"required>
              </div>
              
              <div class="text-right mt-3">
                <button  type="submit" class="btn btn-primary">Modifier</button>&nbsp;
                <button type="button" class="btn btn-default">Cancel</button>
              </div>
            </form> 
            </div>
            </div>
            
            
            
            
          </div>
        </div>
      </div>
    </div>

  

  </div>


  