<app-board-moderator></app-board-moderator>

<div class="card" style="margin-left: -155px; width: 1716px;margin-top: -1857px">


    <p-table #dt [value]="t1" [rows]="10" [paginator]="true"
        [globalFilterFields]="['id','canals','namont','naval','hauteurchute','nombredechute','chute','longueur','cotetnamont','cotetnaval','coeficient','acceleration','hauteurdechutetotal','coteprojetamont','coteprojetaval','profondeur','pertedechargelineaire','pertedechargesinguliaire','coteplushauteeauamont','coteplushauteeauaval']"
        [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between ">
                <span class="p-input-icon-left ">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Rechercher..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>


                <th pSortableColumn="id">id
                    <p-sortIcon field="id"></p-sortIcon>
                </th>
                <th pSortableColumn="canals">canals
                    <p-sortIcon field="canals"></p-sortIcon>
                </th>
                <th pSortableColumn="namont">namont
                    <p-sortIcon field="namont"></p-sortIcon>
                </th>
                <th pSortableColumn="naval">naval
                    <p-sortIcon field="naval"></p-sortIcon>
                </th>
                <th pSortableColumn="hauteurdechutetotal">hauteurdechutetotal
                    <p-sortIcon field="hauteurdechutetotal"></p-sortIcon>
                </th>
                <th pSortableColumn="coteprojetamont">coteprojetamont
                    <p-sortIcon field="coteprojetamont"></p-sortIcon>
                </th>
                <th pSortableColumn="coteprojetaval">coteprojetaval
                    <p-sortIcon field="coteprojetaval"></p-sortIcon>
                </th>
                <th pSortableColumn="profondeur">profondeur
                    <p-sortIcon field="profondeur"></p-sortIcon>
                </th>

                <th pSortableColumn="pertedechargelineaire">pertedechargelineaire
                    <p-sortIcon field="pertedechargelineaire"></p-sortIcon>
                </th>
                <th pSortableColumn="pertedechargesinguliaire">pertedechargesinguliaire
                    <p-sortIcon field="pertedechargesinguliaire"></p-sortIcon>
                </th>
                <th pSortableColumn="coteplushauteeauamont">coteplushauteeauamont
                    <p-sortIcon field="coteplushauteeauamont"></p-sortIcon>
                </th>
                <th pSortableColumn="coteplushauteeauaval">coteplushauteeauaval
                    <p-sortIcon field="coteplushauteeauaval"></p-sortIcon>
                </th>



                <th>
                    <i class="pi pi-angle-double-down" style="font-size: 2rem"></i>

                </th>



            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-s>
            <tr>
                <td>{{s.id}}</td>
                <td>{{s.canals}}</td>
                <td>{{s.namont}}</td>
                <td>{{s.naval}}</td>

                                <td>{{s.hauteurdechutetotal}}</td>
                    <td>{{s.coteprojetamont}}</td>
                    <td>{{s.coteprojetaval}}</td>
             <td>{{s.profondeur}}</td>
                                    <td>{{s.pertedechargelineaire}}</td>

                    <td>{{s.pertedechargesinguliaire}}</td>
                    <td>{{s.coteplushauteeauamont}}</td>
                    <td>{{s.coteplushauteeauaval}}</td>

                
                <td>




                    <button pButton pRipple (click)="showDialog(profilenlong)"
style="background-color: rgb(13, 125, 177) ; border: beige; ;color: rgb(255, 255, 255); "           
                        label="Voir plus" icon="pi pi-plus"></button>
                    <p-dialog header="Détail" [style]="{width: '600px'}" [(visible)]="display">
                        <p-accordion>
                            <p-accordionTab header="hauteurchute">
                                                <td>{{s.hauteurchute}}</td>

                </p-accordionTab>
                <p-accordionTab header="nombredechute">
                                    <td>{{s.nombredechute}}</td>

                </p-accordionTab>
                <p-accordionTab header="chute">
                                    <td>{{s.chute}}</td>

                </p-accordionTab>
                <p-accordionTab header="longueur">
                                    <td>{{s.longueur}}</td>

                </p-accordionTab>

                <p-accordionTab header="cotetnamont">
                                    <td>{{s.cotetnamont}}</td>

                </p-accordionTab>

                <p-accordionTab header="cotetnaval">
                                    <td>{{s.cotetnaval}}</td>

                </p-accordionTab>

                <p-accordionTab header="coeficient">
                                    <td>{{s.coeficient}}</td>

                </p-accordionTab>

                <p-accordionTab header="acceleration">
                                    <td>{{s.acceleration}}</td>

                </p-accordionTab>











                </p-accordion>

                </p-dialog>
                </td>



            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Au total, il y a {{t1 ? t1.length : 0 }} profil en long(s).
            </div>
        </ng-template>
    </p-table>