<div class="container">

  <div class="banner" style="height: 880px">
    <div class="container">
      <div class="row nb-5"  >
        <div class="col-md-8 col-md-offset-2">
          <div class="banner-content">
            <br>
      
          </div>
         </div>
      </div>
    
    </div></div>
</div>
<div class="what-we-do">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div class="section-heading">
          <h4>QUI SOMMES NOUS?</h4>
          <h2>La Société Africaine d’Ingénierie « SAFI » est une société d’études et de conseils en ingénierie, aménagement et
          environnement. La Société Africaine d’Ingénierie (SAFI), est une société de droit tunisien, elle commercialise le
          savoir-faire sur le continent africain en association avec l’expertise tunisienne en matière des aménagements
          hydro-agricoles, routes, aménagements urbains et environnement.</h2>
                  
<div class="coloana">
  <br>
  <img style="width:550px;height:480px;margin-left: 20px" src="assets/image copy/homeee.PNG" alt="">
</div>
        </div>
      </div>

      </div></div></div>
<section id="about" class="page-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="service-item first-service" style="height:500px">
          <div>
            <div class="randulet">

              <div class="coloana">
                <img style="width:120px;height:80px;margin-left: 20px" src="assets/image/loc.png" alt="">
              </div>
            </div>
          </div>
       <h4>Adresse</h4>
     <p>Centre Babel Bloc F 2ème Etage Appartement n°3 Montplaisir 1073 Tunis - Tunisie</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item second-service" style="height:500px">
          <div>
            <div class="randulet">
              <div class="coloana">
                <img style="width:120px;height:80px;margin-right: -0px" src="assets/image/mail.jpg" alt="">
              </div>
            </div>
          </div>
          <h4>E_mail</h4>
          <p>
            safi.ingenierie@planet.tn
            <br>
            contact@safi-ingenierie.com
            <br>
            dg@safi-ingeniereie.com
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item third-service" style="height:500px">
          <div class="icon">
            <img style="margin-bottom:-30px;width:90px;margin-left:-40px;height:80px;"
              src="assets/image/33333%20(1).png" alt="">
            <br>
          </div><br>
          <h4 style="margin-top: 70px">Telephone</h4>
          <p> Tel (216) 71 906 309</p>
          <p> FAX (216) 71 906 675</p>
        </div>
      </div>
    </div>
  </div>
</section>